
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    overflow: hidden;

}
.resetP{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: flex-end;
    }
.container-login100::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(rgba(8, 8, 8, 0.8), rgba(88, 33, 33, 0.8)),
        url('../img/reocpic.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);


}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}



.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin-top: 0.5rem;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.txt1:focus {
    outline: none !important;
}

.txt1:hover {
    text-decoration: none;
    color: #802c2c;
}


.txt2:focus {
    outline: none !important;
}

.txt2:hover {
    text-decoration: none;
    color: #802c2c;
}

@media screen and (max-width: 711px) {
    .wrap-login100{
        width: 90%;
    }
    .container-login100{
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    .login100-form{
        padding: 1.5rem;
    }
    .label-input100{
        font-size: 10px;
    }
    .input100{
        font-size: 10px;
    }
    .txt1{
        font-size: 10px;
    }
    .login100-form-btn2{
        font-size: 12px;
        padding: 15px;
        height: 38px;
        min-width: 130px;
    }
    .txt2{
        font-size: 10px;
    }
}