.msgp {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.msg-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.msg {
    flex: 1;
    max-width: 800px;
    padding: 10px;
    box-sizing: border-box;
}

.msg h3 {
    font-size: 40px;
    font-weight: bold;
    color: #990101;
    margin-top: 10px;
    margin-left: 30px;
}

.msg strong {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-left: 31px;
}

.msg p {
    color: black;
    font-size: 18px;
    max-width: 100%;
    text-align: justify;
    line-height: 1.5;
    font-weight: 350;
    margin: 5px auto;
    margin-left: 30px;
}

.hr {
    width: 100%;
    opacity: 25%;
    margin-left: 30px;
}

.msg2 {
    width: 250px;
    aspect-ratio: 9 / 27;
    object-fit: cover;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .msg-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .msg {
        max-width: 100%;
        text-align: center;
    }

    .msg h3 {
        font-size: 32px;
        margin-right: 1000px;
    }
    .msg p {
        font-size: 16px;
        margin-right: 20px;
    }
    .msg strong{
        white-space: nowrap;
     margin-right: 200px;
    }
    .msg2 {
        width: 100%;
        max-width: 300px;
        margin: 20px 0;
    }
}
