.other-documents-container {
    display: flex;
    align-items: center;
}

.other-documents-container input[type="file"] {
    margin-right: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #800000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.header h1 {
    margin: 0;
    margin-right: 20px;
}

/* .navbar {
    display: flex;
    gap: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #dc3545;
}

.logout-button {
    background-color: #aa3636;
    color: white;
    font-size: 16px;
    padding: 5px 9px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    Space between navbar and logout button
    transition: background-color 0.3s;
} */

.logout-button:hover {
    background-color: #c82333;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.titles-container {
    position: fixed;
    /* Keep it fixed on the screen */
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional: semi-transparent background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    /* Optional: limits the width */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Optional: adds a shadow */
    z-index: 10;
    /* Ensures it appears on top of other elements */
    overflow-y: auto;
    /* Ensure the list doesn't overflow the container */
}

.titles-container ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.titles-container li {
    margin-bottom: 5px;
}


.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
}


.container-login1001 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(187, 52, 52, 0.5)),
        url('../img/REOCBG.jpg') no-repeat center center;
    background-size: cover;
    /* Ensures the image covers the entire viewport */


}

.footer {
    background: rgba(6, 145, 192, 0);
}


.wrap-login100 {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}



.wrap-login1001 {
    width: 1000px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}


/*==================================================================
  [ Title form ]*/
.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
}

.login100-form-title-1 {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(190, 41, 41, 0.562), rgba(51, 39, 39, 0.712));
}




/*==================================================================
  [ Title form1 ]*/
.login100-form1-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 70px 15px 74px 15px;
}

.login100-form1-title-1 {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.login100-form1-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(190, 41, 41, 0.562), rgba(51, 39, 39, 0.712));
}



/*==================================================================
  [ Form ]*/

.login100-form {
    width: 100%;

    top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
}

.login100-form1 {
    width: 100%;
    position: relative;
    margin-left: 55px;
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 88px 93px 55px;
}





/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
    top: 20px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}

.wrap-input200 {
    top: 20px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #0a8b5a00;
}



.wrap-input1001 {
    top: 20px;
    width: 100%;

    position: relative;
    border-radius: 5px;
}


.wrap-input100SN {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}



.wrap-input100FN {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}


.opt {
    color: #660707;
}

.wrap-input100MI {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #000000;
    line-height: 1.2;
    text-align: left;

    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;

}




.label-input200 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #000000;
    line-height: 1.2;
    text-align: left;

    position: absolute;

    left: -105px;
    width: 270px;

}





/*---------------------------------------------*/
.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}


.input200 {
    position: relative;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    left: 180px;
    background: transparent;
    padding: 0 5px;
}



.input1001 {
    position: relative;
    top: -7px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    color: #333;

}


select.input1001 option:hover {
    background-color: #ff0000;
    color: red;
}


select.input1001 option:checked {
    background-color: #a83939;
    color: rgb(255, 255, 255);
}

.input1001 {
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"><path d="M7 10l5 5 5-5H7z"/></svg>') no-repeat right;
    background-size: 16px;
    height: 50px;
}




.login100-form-btn:hover {
    background-color: #a30707;
}


.login100-form-btn2:hover {
    background-color: #a30707;
}

.login100-form-btn1:hover {
    background-color: #a30707;
}


.login100-form1-btn:hover {
    background-color: #a30707;
}


.login100-form1-btn2:hover {
    background-color: #a30707;
}

.login100-form1-btn1:hover {
    background-color: #a30707;
}






.inputsign {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}



.inputsignSN {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}




.name-fields {
    display: flex;
    justify-content: space-between;
}

.name-fields .wrap-input100 {
    width: 100%;
}


.name-fields .wrap-input200 {
    width: 100%;
}






.name-fields .wrap-input100SN {
    width: 35%;
}

.name-fields .wrap-input100FN {
    width: 45%;
}



.name-fields .wrap-input100MI {
    width: 8%;
    height: 5%;
}


.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}





.focus-input200 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}







.focus-input100FN {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100SN {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100MI {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}






.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background-color: #751111;
}



.focus-input200::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background-color: #751111;
}



.focus-input100FN::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background-color: #751111;
}


.focus-input100SN::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background-color: #751111;
}


.focus-input100MI::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;

    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;

    background-color: #751111;
}



/*---------------------------------------------*/
input.input100 {
    height: 45px;
}



input.input200 {
    height: 45px;
}




input.inputsign {
    height: 45px;
}


input.inputsignSN {
    height: 45px;
}



input.inputsignFN {
    height: 45px;
}

input.inputsignMI {
    height: 45px;
}



.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}


.input100FN:focus+.focus-input100FN::before {
    width: 100%;
}

.has-val.input100FN+.focus-input100FN::before {
    width: 100%;
}




.input200:focus+.focus-input200::before {
    width: 100%;
}

.has-val.input200+.focus-input200::before {
    width: 100%;
}

















.input100SN:focus+.focus-input100SN::before {
    width: 100%;
}

.has-val.input100SN+.focus-input100SN::before {
    width: 100%;
}


.input100MI:focus+.focus-input100MI::before {
    width: 100%;
}

.has-val.input100MI+.focus-input100MI::before {
    width: 100%;
}









.inputsign:focus+.focus-input100::before {
    width: 100%;
}

.has-val.inputsign+.focus-input100::before {
    width: 100%;
}




.inputsign:focus+.focus-input200::before {
    width: 100%;
}

.has-val.inputsign+.focus-input200::before {
    width: 100%;
}












.inputsignSN:focus+.focus-input100::before {
    width: 100%;
}

.has-val.inputsignSN+.focus-input100::before {
    width: 100%;
}











/*==================================================================
  [ Restyle Checkbox ]*/

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #999999;
    line-height: 1.4;

    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #e6e6e6;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
    color: #57b846;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-login100-form-btn {

    position: relative;
    margin-left: 350px;
    margin-top: 100px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}




.container-login100-form-btn2 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.container-login1001-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}




.container-login1001-form-btn2 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}






.login100-form-btn {
    position: relative;
    right: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20 20px;
    min-width: 160px;
    height: 50px;
    background-color: #751111;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.login100-form-btn {
    position: relative;
    top: -20px;
    right: 222px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    min-width: 160px;
    height: 50px;
    background-color: #751111;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.login100-form-btn:hover {
    background-color: #a30707;
}


.login100-form1-btn:hover {
    background-color: #a30707;
}





.login100-form-btn2 {
    position: relative;
    left: 65px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20 20px;
    min-width: 160px;
    height: 50px;
    background-color: #751111;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.login100-form1-btn2 {
    position: relative;
    left: 65px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20 20px;
    min-width: 160px;
    height: 50px;
    background-color: #751111;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}










.container-login100-form-btn1 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}


.container-login1001-form-btn1 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}




.login100-form-btn1 {
    position: relative;
    margin-left: 250px;
    margin-top: 90px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 160px;
    height: 50px;
    background-color: #751111;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn1 {
    position: relative;
    margin-left: 250px;
    margin-top: 90px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 160px;
    height: 50px;
    background-color: #751111;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}






.login100-form-btn1:hover {
    background-color: #a30707;
}

.login100-form-btn2:hover {
    background-color: #a30707;
}



.login100-form1-btn1:hover {
    background-color: #a30707;
}

.login100-form1-btn2:hover {
    background-color: #a30707;
}


.move {
    position: relative;
    left: 100px;
}



.addbtn {
    position: relative;
    left: 320px;
    padding: 6px 6px;
    font-size: 11px;
    border: none;
    border-radius: 10px;
    background-color: #aa3636;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;

}



.addbtn:hover {
    background-color: #802c2c;
}




.cobtn {
    position: relative;

    padding: 6px 6px;
    font-size: 11px;
    border: none;
    border-radius: 10px;
    background-color: #aa3636;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}


.cobtn:hover {
    background-color: #802c2c;
}
